{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <title>Driveetic</title>
</head>
<body>
    <header>
        <h1>🎊Drive Etic🎊</h1>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'index' %}">🏠</a></li>
                    <li><a href="{% url 'logout' %}">🔐</a></li>
                {% else %}
                    <li><a href="{% url 'index' %}">🏠</a></li>
                    <li><a href="{% url 'login' %}">🔑🔓</a></li>
                    <li><a href="{% url 'signup' %}">📝</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
