{% extends 'base.html' %}

{% block content %}
<div class="folderDetail">
  <h2>{{ folder.name }}</h2>
  <ul>
    
      {% for file in folder.files.all %}
        <li>
          {{ file.name }}
          <a href="{% url 'file_download' file.pk %}">📩</a>
          <a href="{% url 'file_delete' file.pk %}">❌</a>
          <!-- <select name="move_to_folder" id="move_to_folder_{{ file.pk }}">
            <option value="">Select a folder</option>
            {% for folder in folder_list %}
              <option value="{{ folder.pk }}">{{ folder.name }}</option>
            {% endfor %}
          </select>
          <button type="submit" formaction="{% url 'move_file' file.pk %}">Move</button> -->
        </li>
      {% endfor %}
    
  </ul>

  <h3>Upload files to this folder</h3>
  <form method="post" enctype="multipart/form-data" action="{% url 'file_upload' folder.pk %}">
    {% csrf_token %}
    <input type="file" name="file" multiple>
    <button type="submit">Upload</button>
  </form>
</div>

{% endblock %}